html,
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.wrap {
  min-height: 100vh;
}

.navbar-light .navbar-nav .nav-link {
  font-weight: 600;
  color: black;
}

.footer ul li {
  margin-bottom: 0.5rem;
}

.ahNav.nav .nav-link.active {
  color: #fff;
  background-color: #82358cd2;
}

.ahNav.nav .nav-link {
  color: #82358c;
}

.ahNav.nav-tabs .nav-link.active {
  color: #fff;
  background-color: #82358cd2;
}

.ahNav.nav-tabs .nav-link {
  color: #82358c;
}
